<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Sub title:</strong>
    <%= article.sub_title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= time_ago_in_words(article.created_at) %> ago
  </p>


  <p>
    <strong>Updated at:</strong>
    <%= time_ago_in_words(article.updated_at) %> ago
  </p>

</div>
