<div class="m-3">
  <p style="color: green"><%= notice %></p>

  <%= render @article %>

  <div class="d-inline-flex gap-1">
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning" %>
    <%= button_to "Destroy", @article, method: :delete, form: { data: { turbo_confirm: 'Are you sure to destroy this article?'} }, class: "btn btn-danger" %>
  </div>

  <div class="mt-3">
    <%= link_to "Back to articles", articles_path %>
  </div>

</div>